.order-history-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.filter-item {
  box-sizing: border-box;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 0 0.5rem; */
}

#all-order-detail {
  width: 80%;
  text-align: center;
  padding: 0.3rem;
  border: none;
  background: transparent no-repeat;
  border: 1px solid hsla(193, 50%, 18%, 34%);
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
#all-order-detail:hover {
  background: #f37c25;
  color: white;
}

.search-container > input[type="text"] {
  /* width: 100%; */
  /* box-sizing: border-box; */
}
.search-container {
  display: flex;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  /* border: ; */
  /* bpx-sizing: border-box; */
  /* margin: auto; */
  border: 1px solid hsla(193, 50%, 18%, 34%);
  border-radius: 20px;
  padding: 0.3rem;
  background-color: white;
}

.order-item-input {
  width: 100%;
  margin-right: 0.3rem;
  /* padding: 0; */
  /* z-index: -1; */
  /* margin-bottom: auto; */
  /* display: absolute;
  width: 100%;
  /* margin: 0 auto; */
  /* padding: auto; */
  /* transform: translateY(50%); */
}
#magnify {
  width: 10%;
  box-sizing: border-box;
  /* margin-left: 0.5rem; */
  /* display: absolute;
  z-index: 999; */
  /* transform: translateY(-550%);
  transform: translateX(700%); */
  cursor: pointer;
}

.search-container input {
  border: none;
  border-radius: 20px;
  /* padding: 0.5rem; */
}
.search-container input:focus {
  outline: none;
}

.orders-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter-item select {
  border-radius: 20px;
  border: 1px solid hsla(193, 50%, 18%, 34%);
  padding: 0.3rem;
  background: transparent;
  cursor: pointer;
}

/* .filter-item select {
  paddi
} */

.spinner-order {
  margin: auto;
}

.order-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsla(193, 50%, 18%, 34%);
  box-sizing: border-box;
  margin-bottom: 0.25rem;
  border-radius: 25px;
  padding: 0.5rem;
  /* height: 15dvh; */
}

.order-item-image {
  width: 30%;
  border: 1px solid var(--clr-blush);
  border-radius: 5px;
  padding: 0.5rem;
}
.order-item-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  /* margin: 0.5; */
}

.order-item-info {
  width: min-content;
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order-item-info h4 {
  width: 100%;
}

.order-item-info span {
  white-space: normal;
  word-wrap: break-word;
  font-size: 0.7rem;
  /* width: 50%; */
}
#order-item-date {
  /* margin: 0; */
}

#order-item-orderno {
  margin-bottom: 0;
}

.order-item-quanlity p {
  text-align: center;
}

.order-item-status-balance {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

#order-item-status {
  /* border: 1px solid black; */
  border: none;
  width: 6rem;
  height: 2rem;
  margin: auto;
  padding: auto;
  border-radius: 25px;
  color: white;
  /* font-weight: bold; */
}

#coin {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#coin img {
  width: 1.5rem;
  height: 1.5rem;
}

/*large screen */
@media only screen and (min-width: 1200px) {
  /* Styles */
  .order-item-image {
    width: 20%;
  }
  .order-item-status-balance {
    align-items: center;
  }
  .order-item-info {
    margin-right: auto;
  }
  .order-item-pickup {
    margin-right: auto;
  }
}

@media only screen and (max-width: 568px) {
  #order-item-status {
    width: 100%;
    height: 100%;
  }
  .order-item-image {
    width: 40%;
  }
}
