/*
=============== 
Variables
===============
*/

:root {
  /* color */
  --clr-orange: #f37c25;
  --clr-navy: #173b45;
  --clr-cream: #fbf5f5;
  --clr-blush: #f8eded;
  --clr-nude: #fbd5b2;
  --clr-yellow: #ffc41f;
  --clr-red: #b43f3f;
  --clr-green: #3f9c36;


  --ff-primary: 'Lato', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}